{% extends 'base.html' %}


	<title>Contact Spookle</title>

{% block content %}
</head>
<body>
	<h1>Contact Us</h1>
	<p>Thank you for your interest in Spookle. Please use the information below to get in touch with us:</p>

	<h2>Address</h2>
	<p>Spookle</p>
	<p>100 Ghostie Close</p>
	<p>Edinburgh, EH1 1DF</p>
	<p>Scotland</p>

	<h2>Email</h2>
	<p>General Inquiries: <a href="mailto:info@spookle.com">info@spookle.com</a></p>
	<p>Media: <a href="mailto:media@spookle.com">media@spookle.com</a></p>

	<h2>Phone</h2>
	<p>General Inquiries: +44 131 123 4567</p>
	<p>Media Inquiries: +44 131 987 6543</p>

	<h2>Social Media</h2>
	<p>Facebook: <a href="https://www.facebook.com/spooklescot">facebook.com/spooklescot</a></p>
	<p>Twitter: <a href="https://twitter.com/spooklescot">twitter.com/spooklescot</a></p>
</body>
{% endblock %}